---
---

<nav>
    <img src="/logo.png" />

    <h4>
        <a href="/">Proton Designer</a>
    </h4>

    <a href="/">Home</a>
    <a href="/docs">Documentation</a>
    <a href="/#download">Download</a>
</nav>

<style lang="scss">
    nav {
        padding: 10px;
        -webkit-box-shadow: 0 4px 6px -6px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;

        img {
            width: 50px;
            height: 50px;
        }
        
        a {
            text-decoration: none;
            color: black;
        }

        display: flex;
        gap: 10px;
        align-items: center;

        position: fixed;
        z-index: 10;
        background-color: white;
        width: 100%;
    }
</style>
